<%- model_class = Subcategory -%>
<div class="page-header">
  <h3><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h3>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_subcategory_path,
            :class => 'btn btn-primary btn-margin-bottom' %>

<%= grid(@subcategories_grid) do |g|
  g.column name: 'Name', attribute: 'name' do |subcat|
    link_to subcat.name, subcategory_path(subcat)
  end

  g.column name: 'Category', attribute: 'name', assoc: :category do |subcat|
    link_to subcat.category.name, category_path(subcat.category)
  end

  g.column name: 'No Of Items', assoc: :items, attribute: 'subcategory_id' do |subcat|
    subcat.items.size
  end

  g.column name: 'Actions' do |subcat|
    buffer = link_to t('.edit', :default => t("helpers.links.edit")),
                edit_subcategory_path(subcat), :class => 'btn btn-default btn-xs'

    buffer += link_to t('.destroy', :default => t("helpers.links.destroy")),
      subcategory_path(subcat),
      :method => :delete,
      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
      :class => 'btn btn-xs btn-danger btn-margin-left'
    raw buffer
  end
end
%>
