<%- model_class = Location -%>
<div class="page-header">
  <h3><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h3>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_location_path,
            :class => 'btn btn-primary btn-margin-bottom' %>

<%= grid(@locations_grid) do |g|
  g.column name: 'Name', attribute: 'name' do |loc|
    link_to loc.name, location_path(loc)
  end

  g.column name: 'Actions' do |loc|
    buffer = link_to t('.edit', :default => t("helpers.links.edit")),
                edit_location_path(loc), :class => 'btn btn-default btn-xs'
    buffer += link_to t('.destroy', :default => t("helpers.links.destroy")),
      location_path(loc),
      :method => :delete,
      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
      :class => 'btn btn-xs btn-danger btn-margin-left'
      raw buffer
  end
end %>
